DATABASE_URL=""
PORT=

# IS3_END_POINT=https://minio.s3.nevmock.id
# IS3_ACCESS_KEY_ID=root
# IS3_SECRET_ACCESS_KEY_ID=
# IS3_BUCKET_NAME=bpr-pms
# IS3_REGION=id-jakarta-1

IS3_END_POINT=
IS3_ACCESS_KEY_ID=
IS3_SECRET_ACCESS_KEY_ID=
IS3_BUCKET_NAME=
IS3_REGION=

JWT_SECRET=