DATABASE_URL=""
PORT=

# IS3_END_POINT=https://is3.cloudhost.id
# IS3_ACCESS_KEY_ID=
# IS3_SECRET_ACCESS_KEY_ID=
# IS3_BUCKET_NAME=bpr-ams
# IS3_REGION=id-jakarta-1

IS3_END_POINT=
IS3_ACCESS_KEY_ID=
IS3_SECRET_ACCESS_KEY_ID=
IS3_BUCKET_NAME=
IS3_REGION=

JWT_SECRET=